
%h4.text-right
  = button_to "Register or Login with GitHub", '/auth/github', {:style => 'color:#005A43'}

%h2.text-center Instructions
%p1.lead.text-justify This is a student tutor pairing service.  To use this service, sign in, or sign up with your account, look for a subject and then search for a tutor



