%h4.text-right
    = link_to 'Sign-up', root_path, {:style => 'color:#005A43'}
    = link_to 'Sign-in', root_path, {:style => 'color:#005A43'}

%h2.text-center Instructions
%p1.lead.text-justify This is a student tutor pairing service.  To use this service, sign in, or sign up with your account, look for a subject and then search for a tutor

