%h1.text-center About Us
%p1.lead.text-justify Oftentimes finding assistance on campus means that you have to search through a lot of different resources just to find the help you need. It shouldn’t be that difficult. Our goal is to create a website which matches students with tutors who are specialized in whichever subject the student needs. This website will be a one-stop place for students to quickly and easily search for specialized help in any subject. Our project will provide a platform for teachers or other educators to provide their services as a tutor. It will also greatly simplify the process of finding the help you need as a student.
%h2
%p1.lead.text-justify Project Team: Jacob Ditkoff, Devi Kalidindi, Darren Liu, Viswa Baddula, Thomas Horowitz, Jillian Montgomery
%h3
%p1.lead.text-justify Customer: Rose M. Williams